/* Version 1.0
 * Tadd Bindas
 * CMPT 120
 * 12/6/2015
 */
aside, main 
{
  display: inline-block;
  vertical-align: top;
  padding: 0 1%;
}

body
{
  background-color: #66c1e5;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1
{
  position: fixed;
  top : 10px;
  left: 42%;
  font-family: arial;
  text-shadow: 2px 2px #000000;
  color: OldLace;
}

#descript
{
  position: fixed;
  top: 10%;
  right: 32%;
  font-size: 150%;
  color: OldLace;
}

#scene
{
  position: fixed;
  left: 36%;
  height: 28em;
  top: 20%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 1em;
  padding: 1em;
  font-size: 150%;
  color: #000000;
  width: 25%;
  height: 7.5%;
}

#error
{
  position: fixed;
  left: 36%;
  height: 28em;
  top: 35%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 1em;
  padding: 1em;
  font-size: 150%;
  color: #000000;
  width: 25%;
  height: 5%;
}

#end
{
  position: fixed;
  left: 36%;
  height: 28em;
  top: 60%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 1em;
  padding: 1em;
  font-size: 150%;
  color: #000000;
  width: 25%;
  height: 5%;
}

#points
{
  position: fixed;
  left: 36%;
  height: 28em;
  top: 45.5%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 1em;
  padding: 1em;
  font-size: 150%;
  color: #000000;
  width: 25%;
  height: 5%;

}

#map
{
  position: fixed;
  padding: 1em;
  height: 28em;
  left :1%;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.8);
  color: #333;
  margin-bottom: 1em;
}

#waterLevel
{
  position: fixed;
  padding: 1em;
  height: 28em;
  right :1%;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.8);
  color: #333;
  margin-bottom: 1em;
}

#backpack
{
  position: fixed;
  left: 1%;
  height: 28em;
  top: 65%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 1em;
  padding: 1em;
  font-size: 120%;
  color: #000000;
  width: 25%;
  height: 5%;
}

#locs
{
  position: fixed;
  right: 1%;
  height: 28em;
  top: 65%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 1em;
  padding: 1em;
  font-size: 120%;
  color: #000000;
  width: 25%;
  height: 5%;
}

#commands
{
  position: fixed;
  margin-top: 1em;
  top: 75%;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.8);
  right: 47%;

}

#textinput
{
  position: fixed;
  margin-top: 1em;
  top: 87%;
  right: 41.5%;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.8);
}

#cpr
{
  position: fixed;
  margin-top: 1em;
  top: 90%;
  right: 1%;
  color: OldLace;
}

#help
{
  position: fixed;
  top: 77%;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.8);
  right: 40.5%;
}

#build
{
  position: fixed;
  top: 77%;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(255,255,255,0.8);
  left: 39.5%;
}